.Alert {
    position: fixed;
    z-index: 900;
    background-color: transparent;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.AlertHeader {
    display: flex;
    justify-content: space-between;
}

.AlertControl {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.Danger {
    background-color: red;
}

.Warning {
    background-color: orange;
}

.Primary {
    background-color: blue;
}

@media (min-width: 600px) {
    .Alert {
        width: 500px;
        left: calc(50% - 250px);
    }
}