.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 15px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.Success {
    background-color: greenyellow;
    color: #5C9210;
}

.Danger {
    background-color: darkred;
    color: #944317;
}

.CloseBtn {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}